@font-face {
  font-family: 'Assistant';
  src: url("/assets/fonts/Assistant-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: 'Assistant';
  src: url("/assets/fonts/Assistant-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: 'Assistant';
  src: url("/assets/fonts/Assistant-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'Assistant';
  src: url("/assets/fonts/Assistant-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: 'Assistant';
  src: url("/assets/fonts/Assistant-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: 'Assistant';
  src: url("/assets/fonts/Assistant-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'Assistant';
  src: url("/assets/fonts/Assistant-ExtraBold.ttf");
  font-weight: 800;
}

