app-dashboard {
  .time-input-container {
    input {
      width: 80px;
      margin-left: 10px;

      &:last-of-type {
        margin-right: 10px;
      }
    }

    input[type='date'] {
      width: 158px;
      border: none;
      background: transparent;
    }
  }
}
