<h1>חישוב שעות</h1>
<p>ברוכים הבאים למערכת ניהול שעות נוספות ומשימות</p>

<h2>הזנת שעות:</h2>
<form [formGroup]="form" autocomplete="off">
  <div class="time-input-container" *ngFor="let hours of workHours?.controls; let i=index">
    <ng-container [formGroup]="hours">
      <input class="basic-input" type="date" name="shiftDate" id="shift-date" formControlName="shiftDate" >
      <input class="basic-input" type="text" name="startTime" id="start-time" formControlName="startTime">
      <span>-</span>
      <input class="basic-input" type="text" name="endTime" id="end-time" formControlName="endTime">
    </ng-container>
  </div>
</form>

<h2>סה"כ שעות</h2>


<h2>חריגה</h2>

