app-dashboard {

  .time-input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    input {
      width: 80px;
      margin-left: 10px;

      &:last-of-type {
        margin-right: 10px;
      }
    }

    .date {
      width: 90px;
    }


    input[type='date'] {
      width: 158px;
      border: none;
      background: transparent;
    }
  }
}
